.body__form-login {
  overflow: hidden;
}

.login__form {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to bottom, #f1f4f9, #dff1ff);
  .color {
    position: absolute;
    filter: blur(150px);
    pointer-events: none;
    &:nth-child(1) {
      top: -350px;
      width: 600px;
      height: 865px;
      background: #ff359b;
    }
    &:nth-child(2) {
      bottom: -150px;
      left: -100px;
      width: 500px;
      height: 500px;
      background: #fffd87;
    }
    &:nth-child(3) {
      bottom: 50px;
      right: 100px;
      width: 445px;
      height: 300px;
      background: #00d2ff;
    }
  }
  .box__form {
    position: relative;
    padding: 0;
    margin: 0;
    .square {
      position: absolute;
      background: rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(5px);
      box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
      border: 1px solid rgba(255, 255, 255, 0.5);
      border-right: 1px solid rgba(255, 255, 255, 0.2);
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      border-radius: 10px;
      animation: animate 10s linear infinite;
      animation-delay: calc(-1s * var(--i));
      &:nth-child(1) {
        top: -50px;
        right: -60px;
        width: 100px;
        height: 100px;
      }
      &:nth-child(2) {
        top: 150px;
        left: -100px;
        width: 120px;
        height: 120px;
        z-index: 2;
      }
      &:nth-child(3) {
        bottom: 50px;
        right: -60px;
        width: 80px;
        height: 80px;
        z-index: 2;
      }
      &:nth-child(4) {
        bottom: -80px;
        left: 100px;
        width: 50px;
        height: 50px;
      }
      &:nth-child(5) {
        top: -80px;
        left: 140px;
        width: 60px;
        height: 60px;
      }
    }
    .--container__form-login {
      position: relative;
      width: 400px;
      min-height: 400px;
      background: rgba(255, 255, 255, 0.1);
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      backdrop-filter: blur(5px);
      box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
      border: 1px solid rgba(255, 255, 255, 0.5);
      border-right: 1px solid rgba(255, 255, 255, 0.2);
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      .form {
        position: relative;
        width: 100%;
        height: 100%;
        padding: 40px;
        h2 {
          font-family: "Poppins", sans-serif;
          position: relative;
          color: #fff;
          font-size: 24px;
          font-weight: 600;
          letter-spacing: 1px;
          margin-bottom: 40px;
          &::after {
            position: absolute;
            content: "";
            left: 0;
            bottom: -14px;
            width: 80px;
            height: 4px;
            background: #fff;
          }
        }
        form {
          .inputBox {
            width: 100%;
            margin-top: 20px;
            input {
              font-family: "Poppins", sans-serif;
              font-size: 16px;
              width: 86.5%;
              background: rgba(255, 255, 255, 0.2);
              border: none;
              outline: none;
              padding: 10px 20px;
              border-radius: 35px;
              border: 1px solid rgba(255, 255, 255, 0.5);
              border-right: 1px solid rgba(255, 255, 255, 0.2);
              border-bottom: 1px solid rgba(255, 255, 255, 0.2);
              letter-spacing: 1px;
              color: #fff;
              box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
              &::placeholder {
                color: #fff;
              }
              &:focus {
                border: 1px solid #ff359b;
              }
            }
            .btn__submit-input {
              max-width: 100px;
              background: #fff;
              color: #666;
              cursor: pointer;
              margin-bottom: 20px;
              font-weight: 600px;
              &:hover {
                background: #ff68b4;
                color: #fff;
              }
            }
          }
          .forget {
            font-family: "Poppins", sans-serif;
            margin-top: 5px;
            color: #fff;
            cursor: pointer;
            &:hover {
              color: #ff68b4;
              a {
                color: #ff68b4;
              }
            }
            > a {
              color: #fff;
              font-weight: 600;
            }
          }
        }
      }
    }
  }
}
@keyframes animate {
  0%,
  100% {
    transform: translateY(-40px);
  }
  50% {
    transform: translateY(40px);
  }
}

.container {
  width: auto;
  padding-right: 15px !important;
  padding-left: 15px !important;
  margin-right: auto !important;
  margin-left: auto !important;
}
@media screen and (min-width: 576px) {
  .container {
    max-width: 610px;
  }
}

@media screen and (min-width: 760px) {
  .container {
    max-width: 710px;
  }
}

@media screen and (min-width: 800px) {
  .container {
    max-width: 767px;
  }
}

@media screen and (min-width: 993px) {
  .container {
    max-width: 950px;
  }
}

@media screen and (min-width: 1050px) {
  .container {
    max-width: 1050px;
  }
}

@media screen and (min-width: 1247px) {
  .container {
    max-width: 1210px;
  }
}

@media screen and(max-width: 530px) {
  .container {
    width: 330px !important;
  }
}

@media screen and(max-width: 420px) {
  .container {
    width: 290px !important;
  }
}

@media screen and(max-width: 350px) {
  .container {
    width: 264px !important;
  }
}
